body {
  font-size: 100%; /* default font size */
}
/* 
.container {
  position: relative;
  width: 715px;
  height: 510px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#canvas-container {
  width: 85%;
  height: 85%;
  border: 2px dashed grey;
  /* only show on bottom, left, right */
  border-top: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.canvas1 {
  background: linear-gradient(0deg, #c0b6d3, #e2deeb, #c0b6d3);
  position: absolute;
  width: 100%;
  height: 100%;
}

.scoreboard {
  width: 100%;
  height: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  left: 0%;
  top: 0%;
  background-color: lightgray;
}
.points {
  padding: 10px;
  /* align to center */
  text-align: center;
}
.level {
  padding: 10px;
  text-align: center;
}
.time {
  padding: 10px;
  text-align: center;
}

/* ball selection menu -----------------------------------------*/

.ballButtonContainer {
  display: grid;
  grid-template-rows: 10%;
  position: absolute;
  gap: 25%;
  left: 0%;
  top: 30%;
}

.list {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  /* position: relative; */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.list:hover,
.list:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.list:hover {
  transform: translateY(-1px);
}

.list:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* ---------------------------------------------------------- */

.gamescreen {
  width: 90%;
  height: 90%;
  position: absolute;
  display: block;
  left: 10%;
  top: 10%;
}

.points,
.level,
.time {
  font-size: 1.25em;
  height: 20px;
  color: black;
}

.btn-mainMenu {
  position: absolute;
  width: 25%;
  left: 75%;
  top: 88%;
  font-family: system-ui, sans-serif;
  cursor: pointer;
  font-weight: bold;
  border: none;
  text-align: center;
  border: 3px solid #705d97;
  border-radius: 6px;
  white-space: nowrap;
  height: 12%;
  font-size: 1.5em;
  padding: 0.5rem;
}

.btn-mainMenu:active,
.btn-mainMenu:hover {
  outline: 0;
  box-shadow: rgba(255, 255, 255, 0.8) 0 15px 30px -5px;
  border: 3px solid #1c142d;
}
